{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    // "airbnb-base",
    // "airbnb-typescript/base",
    "prettier",
    "plugin:prettier/recommended" // put as the last extension!
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": 1, // warning
    "prettier/prettier": 1 // warning
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
